body{
	background: #3b3588;
}
h1{
	text-align: center; 
	font-family: 'Lato', sans-serif;
	color: #ad8cff;
	font-size: 3em;
}
h2{
	font-size: 2.5em;
	text-align: center;
	color:  #eb6763;
}
h3{
	font-size: 2em;
}
ul{
	text-align: justify;
	display: block;
	margin-right: auto;
	margin-left: auto;
	color: #ba2a4c;
	width: 40vw;
}
p{
	font-size: 1.2em;
	color: #f9f8f6;
	font-family: 'Lato', sans-serif;
}
p.about{
	text-align: justify;
	width: 40%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
a:visited,
a:link{
	color: #eb6763;
}
a:active,
a:hover{
	color: #ba2a4c;
}
a{
	margin: 20px;
	background: #f9f8f6;
	padding: 8px;
	border: #eb6763 3px solid;
	border-radius: 8px;
}
nav{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #f9f8f6;
	padding: 15px;
	width: 60%;
	top: 0;
	position: sticky;
	border: solid #eb6763 5px;
	border-radius: 12px;
}
video{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 20vw;
}
.header{
	font-family: 'Open Sans', sans-serif;
}
div{
	text-align: center;
}
img{
	display: block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
}
div.cite{
	width: 40%;
	display: inherit;
	text-align: inherit;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	border:solid ;
}
img.info{
	margin-top: 10px;
	width: 40vw;
	height: auto;
	border: solid white 3px;
}
div.navbar{
	padding: 0px;
	margin:0px;
	border-style: none;
	display: inline;
}
@media only screen and (max-width: 600px){
	body{
		background: #3b3588;
	}
	h1{
		text-align: center; 
		font-family: 'Lato', sans-serif;
		color: #ad8cff;
	}
	h2{
		text-align: center;
		color:  #eb6763;
	}
	ul{
		text-align: justify;
		display: block;
		margin-right: auto;
		margin-left: auto;
		color: #ba2a4c;
		width: 75vw;
	}
	p{
		color: #f9f8f6;
		font-family: 'Lato', sans-serif;
	}
	p.about{
		text-align: justify;
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	a:visited,
	a:link{
		color: #eb6763;
	}
	a:active,
	a:hover{
		color: #ba2a4c;
	}
	a{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 40px;
		margin-bottom: 40px;
		background: #f9f8f6;
		padding: 5px;
		border: #eb6763 3px solid;
		border-radius: 8px;
		font-size: .8em
	}
	nav{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #f9f8f6;
		padding: 15px;
		width: 80%;
		top: 0;
		position: sticky;
		border: solid #eb6763 5px;
		border-radius: 12px;
	}
	video{
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 50px;
		margin-bottom: 50px;
		width: 50vw;
	}
	.header{
		font-family: 'Open Sans', sans-serif;
	}
	div{
		text-align: center;
	}
	img{
		display: block;
		height: 30vh;
		margin-left: auto;
		margin-right: auto;
	}
	div.cite{
		width: 100%;
		display: inherit;
		text-align: inherit;
		margin-left: auto;
		margin-right: auto;
	}
	img.info{
		margin-top: 10px;
		width: 95vw;
		height: auto;
		border: solid #f9f8f6 3px;
	}
	div.navbar{
		margin-bottom: 20px;
		border-style: none;
		display: block;
	}
}	